:root {
    --primary: #1976d2;
    --secondary: #2196f3;
    --tertiary: #42a5f5;
    --quaternary: #64b5f6;
    --red: #e53935;
    --teal: #009688;
    --green:#4caf50;
    --orange:#fb8c00;
    --transition-default: all ease 300ms;
}

/* base styles */

button {
    border: none;
    outline: none;
    transition: var(--transition-default);
}

button:hover{
    transition: var(--transition-default)
}

button:hover {
    cursor: pointer;
}
/* utilities */

.p-1{
    padding: 1rem;
}

.m-1 {
    margin: 1rem;
}

.color-primary {
    color: var(--primary);
}
.color-secondary {
    color: var(--secondary);
}
.color-tertiary {
    color: var(--tertiary);
}
.color-quaternary {
    color: var(--quaternary);
}
.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-tertiary {
    background-color: var(--tertiary);
}
.bg-quaternary {
    background-color: var(--quaternary);
}
.bg-red{
    background-color: var(--red);
}
.bg-teal{
    background-color: var(--teal);
}
.bg-orange{
    background-color: var(--orange);
}
.bg-green{
    background-color: var(--green);
}

.btn-primary {
    background-color: var(--primary);
    padding: 10px 1rem;
    color: white;
    box-shadow: 1px 2px 7px 1px #6f6f6f;
    opacity: 1;
    transition: var(--transition-default);
}

.btn-primary.inverse{
    background-color: white;
    color: var(--primary);
}

.btn-primary:hover{
    opacity: 0.8;
    transition: var(--transition-default);
}

.btn-secondary{
    background-color: var(--secondary);
    color: white;
    padding: 10px 1rem;
    border-radius: 20px;
    border: 2px solid var(--primary);
    box-shadow: none;
    transition: var(--transition-default);
}

.btn-secondary:hover{
    box-shadow: 1px 2px 8px 3px var(--primary);
    transition: var(--transition-default);
}

.btn-outline{
    border: 2px solid var(--primary);
    background-color: white;
    color: var(--primary);
    padding: 10px 1rem;
    transition: var(--transition-default);
}

.btn-outline:hover{
    color: white;
    border: 2px solid var(--primary);
    background-color: var(--quaternary);
    transition: var(--transition-default);
}

.text-container {
    width: 300px;
    text-align: center;
    background-color: var(--primary);
    color: white;
}
